[Unit]
Description=TODOs App
After=network.target

[Service]
ExecStart=/usr/bin/docker run --name todos -p 8000:3000 -e DATABASE_URL={DATABASE_URL} docker.io/luebken/todos
ExecStop=/usr/bin/docker stop todos
Restart=always
RestartSec=5
KillMode=control-group

[Install]
WantedBy=multi-user.target
